.card {
    background-color: #e17055;
    width: auto;
    height: auto;
    color: white;
    font-weight: 800;
    margin: auto;
    padding: 0px;
}

.card-body {
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .data-section {
        margin-right: 0%;
        width: 100%;
    }
    .data-table {
        margin-right: 0px;
    }
    .data-section .side-bar {
        display: none;
    }
    .footer {
        visibility: visible;
    }
    #home-button,
    #data-button,
    .header-left,
    .data-section .side-bar {
        display: none;
    }
    #Tabular {
        display: none;
    }
    #Cardic {
        margin: auto;
        width: 350px;
    }
    .incard-table {
        background-color: transparent;
    }
    table,
    th,
    td {
        border: none;
        border-collapse: collapse;
        width: 100%;
        margin: 0px;
        color: white;
    }
    td,
    tr,
    th {
        padding: 15px 30px;
        text-align: center;
        font-weight: 500;
        color: white;
        font-size: 90%;
    }
    table tr:nth-child(even) {
        background-color: transparent;
    }
    table tr:nth-child(odd) {
        background-color: transparent;
    }
    .incard-table-cell-right {
        text-align: right;
        background-color: transparent;
        width: 150px;
        padding: 5px 0px 5px 0px;
    }
    .incard-table-cell-left {
        text-align: left;
        background-color: transparent;
        width: 50px;
        padding: 5px 0px 5px 0px;
    }

    .buttons-section button {
        padding: 2% 6%;
        background-color: #5a1e10;
        border-color: #5a1e10;
        font-size: 3vw;
    }

    .card {
        margin: 15px 0px;
    }

    #incard-table {
        width: fit-content;
    }
}

@media screen and (min-width: 601px) {
    #Cardic {
        display: none;
        margin: auto;
    }
}
